<!DOCTYPE html>
<html lang="en">
<head>
<title>Fund Analysis of Universities in California | About Us</title>
<meta charset="utf-8">
<% include head.ejs %>
</head>
<body id="page4">
<!-- header -->
<div class="bg">
  <div class="main">
    <% include header.ejs %>
    <!-- content -->
    <section id="content">
      <div class="padding">
        <div class="wrapper margin-bot">
          <div class="col-3">
            <div class="indent">
              	<h2>About Us</h2>
             	<img src="about_1.png" border="0" style="margin:20px auto; display:block;"border="0"/>

			</div>
        </div>
        
        </div>
      </div>
    </section>
  
  <!-- footer -->
  <% include footer.ejs %> 
  </div>
</div>
<script type="text/javascript">Cufon.now();</script>
</body>
</html>
