<!DOCTYPE html>
<html lang="en">
<head>
<title>Fund Analysis of Universities in California | Contacts</title>
<meta charset="utf-8">
<% include head.ejs %>
</head>
<body id="page5">
<!-- header -->
<div class="bg">
  <div class="main">
      <% include header.ejs %>
    <!-- content -->
    <section id="content">
      <div class="padding">
        <div class="wrapper margin-bot">
          <div class="col-4" style="width: 100%;">

          </div>
        </div>
      </div>
    </section> 
    <!-- footer -->
  <% include footer.ejs %>
  </div>
  
</div>
<script type="text/javascript">Cufon.now();</script>
</body>
</html>
