<!-- header -->
<header>
      <div class="row-1">
        <h1> <a class="logo" href="">Fund Analysis of Universities in California</a> <strong class="slog">Power of data</strong> </h1>
        <form id="search-form" action="#">
          <fieldset>
            <div class="search-form">
              <input id="searchInput" type="text" name="search" value="Type Keyword Here" onBlur="if(this.value=='') this.value='Type Keyword Here'" onFocus="this.style.color='#9d9d9d'; if(this.value =='Type Keyword Here' ) this.value='';" />
              <input id="searchButton" type="submit" value="" class="btnSubmit">
             </div>
          </fieldset>
        </form>
      </div>
      <div class="row-2">
        <nav>
          <ul class="menu">
            <li><a class="home active" href="/">Home</a></li>
            <li><a class="news active" href="/concept">Concept</a></li>
            <li><a class="services active" href="/services">Our Services</a></li>
            <li><a class="about active" href="/about">About Us</a></li>
            <li class="last-item"><a class="contact active" href="/contacts">Contact</a></li>
          </ul>
        </nav>
      </div>
      <div class="row-3">
        <div class="slider-wrapper">
          <div class="slider">
            <ul class="items">
              <li><img src="unibackground.jpg" alt=""><strong class="banner"> <strong class="b1">check your University</strong> <strong class="b2">Position</strong></strong></li>
              <li><img src="agencyback.jpg" alt=""><strong class="banner"> <strong class="b1">knowledge pays best Interest through</strong> <strong class="b2">INVESTMENT</strong> </strong></li>
              <li><img src="homescreen.jpg" alt=""><strong class="banner"> <strong class="b1">make the best</strong> <strong class="b2">Choice</strong> </strong></li>
            </ul>
            <a class="prev" href="#">prev</a> <a class="next" href="#">prev</a> </div>
        </div>
      </div>
</header>
<script>
	var searchInput = document.getElementById('searchInput'),
		searchForm = document.getElementById('search-form'),
		searchQuery;
	if(searchInput && searchForm) {
		searchForm.addEventListener('submit', function(e) {
			e.preventDefault();
			searchQuery = searchInput.value;
			if (searchQuery && searchQuery !== 'Type Keyword Here') {
				window.location = 'https://www.google.com/#q=' + searchQuery;
			}
			else {
				searchInput.style.color = 'red';
			}
		});
	}
</script>