<!DOCTYPE html>
<html lang="en">
<head>
<title>Fund Analysis of Universities in California</title>
<meta charset="utf-8">
<% include head.ejs %>
</head>
<body id="page3">

<!-- header -->
<div class="bg">
  <div class="main">
    <header>
      <% include header.ejs %>
    </header>
    <!-- content -->
    <section id="content">
      <div class="padding">
        <div class="indent">
          <h2>Our Services</h2>
          <p style="padding: 20px 0; font-size: 20px; line-height: 1.2em;">There is no reason your school system or your organization cannot win hundreds of thousands, if not millions, of dollars in grant money this year. Be aggressive about going after grant money. We’ll help. We have the information you need.</p>
        </div>
        
        <% include midder.ejs %>
        
      </div>
    </section> 
  <!-- footer -->
  <% include footer.ejs %>
  </div>
</div>
</body>
</html>